@import 'app.common';
@import '@nativescript/theme/core/scss/platforms/index.android';

.btn {
    background: rgb(141, 9, 141);
    border-color: rgb(141, 9, 141);
    color: rgb(255, 252, 252);


  }
