<TabView
  androidTabsPosition="bottom"
  androidSelectedTabHighlightColor="purple"
  selectedTabTextColor="purple"
  *ngIf="!isLoading"
>
  <StackLayout *tabItem="{ title: 'Today' }">
    <page-router-outlet name="today"> </page-router-outlet
  ></StackLayout>
  <StackLayout *tabItem="{ title: 'Current Challenge' }"
    ><page-router-outlet name="currentChallenge"> </page-router-outlet
  ></StackLayout>
</TabView>
<FlexboxLayout *ngIf="isLoading" justifyContent="center" alignItems="center">
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</FlexboxLayout>
