/* Add mobile styles for the component here.  */


@import "~@nativescript/theme/core";
@import '../../themes/colors';





.input-field {
    width: 80%;

    .label{
    color:$primary;
    font-weight: bold;
  }
  .label.invalid{
    color: red;
  }
  .input{
    border-bottom-color:$primary ;
    border-bottom-width:1 ;
    width: 100%;
    color: black;
  }
}
.btn {
    background: rgb(141, 9, 141);
    border-color: rgb(141, 9, 141);
    color: rgb(255, 252, 252);
    border-radius: 20;

  }

  .form{
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .ng-invalid.ng-touched{
    border-bottom-color: red;
    color: red;
  }
  .btn-flat {
    background: rgb(216, 214, 214);
    border-color: transparent;
    border-width: 1;
    color: $primary;
  }
