<!-- <FlexboxLayout justifyContent="space-between">
<TextField
    class="form-control"
    hint="Challenge title"
    [(ngModel)]="challengeDescription"
  ></TextField>
  <Button class="btn" (tap)="onSetChallenge()" text="Add Challenge"></Button>
  <Label text="The edit page"></Label>
</FlexboxLayout> -->

<ns-action-bar
  [title]="isCreating ? 'Replace Challenge' : 'Edit Challenge'"
  showBackButton="true"
  hasMenu="false"
></ns-action-bar>
<FlexboxLayout justifyContent="space-between">
  <Label
    class="title"
    text="The edit page"
    horizontalAlignment="center"
  ></Label>
</FlexboxLayout>
